@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext,greek);

body {
  font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

/** Navigation left panel **/

nav {
  background-color: #AACCBB;
  box-shadow: 5px 0 5px #668877;
  height: 100%;
  position: absolute;
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background-color: #eeffee;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px #668877;
  margin: 5px;
}

nav ul li:hover {
  box-shadow: inset 2px 2px 2px #668877;
}

nav ul li.separator, nav ul li.separator:hover {
  height: 1px;
  margin: 1em;
}

nav ul li a {
  color: black;
  display: block;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
}

/** Basic layout, header & footer **/

#page {
  display: flex;
  flex-direction: column;
  left: 200px;
  padding: 1em;
  position: absolute;
  right: 0;
}

header {
  align-self: center;
  background-color: #AACCBB;
  border-radius: 0.75em;
  box-shadow: 2px 2px 3px 3px #668877;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1em;
  order: 1;
  padding: 0.25em;
  text-align: center;
  text-shadow: 0 0 5px black;
  width: 80%;
}

footer {
  display: none;
  order: 3;
}

/** Here starts the fun **/

main {
  order: 2;
}

main a {
  color: black;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.hive {
  display: none;
}

.button {
  background-color: #aaccbb;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px #668877;
  display: block;
  padding: 5px;
  text-align: center;
}

/** Forms **/

form {
  border: 1px solid #668877;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 50%;
}

form table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/** Dialog **/

#dialog {
  background-color: rgba(238, 255, 238, 0.9);
  border-radius: 2em;
  bottom: 0;
  box-shadow: 0 0 5em black;
  display: none;
  left: 0;
  margin: 25%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}

#dialog a {
  color: black;
  text-decoration: underline;
}

#dialog p {
  padding: 1em;
}

#dialog .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#dialog button {
  background-color: white;
  border: 1px solid #668877;
  border-radius: 1em;
  font-weight: bold;
  font-variant: small-caps;
  padding: 1em;
  text-decoration: none;
}

#dialog button:hover {
  background-color: #aaccbb;
  cursor: pointer;
}
