<!DOCTYPE html>
<html>
<head lang="en">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>{html_title}</title>
 <link rel="stylesheet" type="text/css" href="{_root_}/{_static_}/normal.css" title="default" />
 <link rel="icon" type="image/png" href="{_root_}/{_static_}/logo.png">
 <!--<script type="text/javascript" src="{_root_}/{_static_}/jquery-1.10.2.min.js"></script>-->
 <script type="text/javascript" src="{_root_}/{_static_}/jquery-2.1.1.min.js"></script>
 <script type="text/javascript">
show_dialog = function(text, pos, neg) {{
  $("#dialog").css("display", "block");
  $("#dialog_text").html(text);
  if (pos) {{
    $("#dialog_pos").css("display", "block");
    $("#dialog_pos").html(pos);
  }} else {{
    $("#dialog_pos").css("display", "none");
  }}
  if (neg) {{
    $("#dialog_neg").css("display", "block");
    $("#dialog_neg").html(neg);
  }} else {{
    $("#dialog_neg").css("display", "none");
  }}

  var def = $.Deferred();
  $(document).on("click", "#dialog_pos", function(event) {{
    def.resolve(true);
  }});
  $(document).on("click", "#dialog_neg", function(event) {{
    def.resolve(false);
  }});

  return def.promise();
}}

hide_dialog = function() {{
  $("#dialog").css("display", "none");
}}

toggle_nav_group = function(e) {{
  if (e.target == e.currentTarget) {{
    e.target.classList.toggle("closed_group");
    e.target.classList.toggle("opened_group");
  }}
}}

set_header = function(text) {{
  $(":header").html(text);
}}

$(document).ready(function() {{
  $(document).ready(function() {{
    $(".closed_group").click(toggle_nav_group);
  }});
}});

 </script>
</head>
<body>
 <div id="dialog">
  <p id="dialog_text"></p>
  <div class="actions">
   <button id="dialog_neg"></button>
   <button id="dialog_pos"></button>
  </div>
 </div>
 <nav>
  <ul>
{html_nav}
  </ul>
 </nav>
 <div id="page">
  <header>{html_header}</header>
  <main>{html_main}</main>
  <footer>{html_footer}</footer>
 </div>
</body>
</html>