<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{html_title}</title>
  <link rel="stylesheet" type="text/css" href="{_root_}/{_static_}/normal.css" title="default" />
  <link rel="icon" type="image/png" href="{_root_}/{_static_}/logo.png">
</head>
<body>
 <nav>
  <ul>
{html_nav}
  </ul>
 </nav>
 <div id="page">
  <header>{html_header}</header>
  <main>{html_main}</main>
  <footer>{html_footer}</footer>
 </div>
</body>
</html>