<script type="text/javascript" src="{_root_}/{_static_}/onlineprotein.js"></script>
<script type="text/javascript">
$(document).ready(function() {{
  // Enable binary data type
  $.ajaxTransport("+binary", function(options, originalOptions, jqXHR) {{
    // check for conditions and support for blob / arraybuffer response type
    if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob)))))
    {{
      return {{
        // create new XMLHttpRequest
        send: function(_, callback) {{
          // setup all variables
          var xhr = new XMLHttpRequest(),
            url = options.url,
            type = options.type,
            // blob or arraybuffer. Default is blob
            dataType = options.responseType || "blob",
            data = options.data || null;
          xhr.addEventListener('load', function() {{
            var data = {{}};
            data[options.dataType] = xhr.response;
            // make callback and send data
            callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
          }});

          xhr.open(type, url, true);
          xhr.responseType = dataType;
          xhr.send(data);
        }},
        abort: function() {{
          jqXHR.abort();
        }}
      }};
    }}
  }});

  try {{
    var protgl = new OnlineProtein("{_root_}/{_static_}/");
    protgl.onStart(document.URL);

    $("[show='spheres']").click(function() {{
      protein = protgl.protein();
      //protein.show_VdW();
      protein.show(0., -1.);
    }});
    $("[show='tubes']").click(function() {{
      protein = protgl.protein();
      protein.show(0.5, 0.5);
    }});
  }} catch(e) {{
    hide_dialog();
    show_dialog("An error occurred: " + e, "ok", "").done(function(result) {{
      hide_dialog();
      $inputs.prop("disabled", false);
    }});
  }}
}});
</script>

<div id="display">
 <div id="canvas">
  <canvas id="canvas-protgl" width="{__canvas_width}px" height="{__canvas_height}px"></canvas>
 </div>

 <div id="scripting">
  <textarea id="scripter" readonly="readonly"></textarea>
 </div>
</div>